body {
  background-image: url("https://images.pexels.com/photos/2693212/pexels-photo-2693212.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: gray;
  color: white;
  font-family:"IBM Plex Mono";
  font-size: 50px;
  overflow: auto;
  width: 100%;
  height: 100%; 
  }
.yark {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
}

.center {
  border: none;
  border-radius: 30px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
