body {
  background: "https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fmy-attempt-at-recreating-the-flag-of-the-eusan-nation-v0-9cdwe5ybqh8b1.png%3Fwidth%3D640%26crop%3Dsmart%26auto%3Dwebp%26s%3Dcb60b35ecf56336f09fed57442332a5d7f813cdf"
  background-repeat: no-repeat;
  background-size: auto;
  background-color: gray;
  color: white;
  font-family:"IBM Plex Mono";
  font-size: 50px;
  overflow: auto;
  width: 100%;
  height: 100%; 
  }
.yark {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
}

.center {
  border: none;
  border-radius: 30px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
