body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjPmywP-XMWui-l6sk4SyoyAavKQch6LIEGA&usqp=CAU");
  color: white;
  font-family:"IBM Plex Mono";
  font-size: 50px;
  }
.yark {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
}

.center {
  border: none;
  border-radius: 30px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
